{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="image-container">
    <img src="{{ document.file.url }}" alt="{{ document.title }}">
</div>
<div class="navigation-links">
    <a class="btn" href="{% url 'rename_document' document.id %}">Rename</a>
    <a class="btn" href="{% url 'delete_document' document.id %}">Delete</a>
</div>

<div class="comments">
    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
            <li><strong>{{ comment.author.username }}:</strong> {{ comment.text }} ({{ comment.created_at }})</li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
</div>
{% endblock %}
