{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="image-container">
    {% if prev_document %}
        <a href="{% url 'document_detail' prev_document.id %}" class="nav-btn prev">&#10094;</a>
    {% endif %}

    {% if document.is_video %}
        <video controls src="{{ document.file.url }}"></video>
    {% else %}
        <img src="{{ document.file.url }}" alt="{{ document.title }}">
    {% endif %}

    {% if next_document %}
        <a href="{% url 'document_detail' next_document.id %}" class="nav-btn next">&#10095;</a>
    {% endif %}
</div>
<div class="navigation-links">
    <a class="btn" href="{% url 'rename_document' document.id %}">Rename</a>
    <a class="btn" href="{% url 'delete_document' document.id %}">Delete</a>
</div>

<div class="comments">
    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
            <li><strong>{{ comment.author.username }}:</strong> {{ comment.text }} ({{ comment.created_at }})</li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
</div>
{% endblock %}
